* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #fafafa;
  margin-bottom: 2rem;
  text-align: center;
}

.feedback {
  display: none;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 4, 4, 0.15);
  border: 2px solid rgba(255, 4, 4, 1);
}

.feedback > h4 {
  font-size: 0.85rem;
  font-weight: 300;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board {
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
  min-width: 590px;
}

.row0 > select:nth-child(3n),
.row1 > select:nth-child(3n),
.row2 > select:nth-child(3n),
.row3 > select:nth-child(3n),
.row4 > select:nth-child(3n),
.row5 > select:nth-child(3n),
.row6 > select:nth-child(3n),
.row7 > select:nth-child(3n),
.row8 > select:nth-child(3n) {
  margin-right: 1.5rem;
}

.row0 > select:last-child,
.row1 > select:last-child,
.row2 > select:last-child,
.row3 > select:last-child,
.row4 > select:last-child,
.row5 > select:last-child,
.row6 > select:last-child,
.row7 > select:last-child,
.row8 > select:last-child {
  margin-right: 0rem;
}

.row2,
.row5 {
  margin-bottom: 1.5rem;
}

select {
  width: 50px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fafafa;
  color: #fafafa;
  font-size: 1.25rem;
  font-weight: bold;
  outline: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

option {
  color: #191919;
  text-align: center;
}

.button {
  padding: 0.75rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 175px;
}

.button:hover {
  transform: scale(1.1);
}

.solveBtn {
  background-color: #0be377;
  margin-bottom: 0.5rem;
}

.clearBtn {
  background-color: transparent;
  border: 1px solid #0be377;
  color: #fff;
}

@keyframes popup {
  from {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    opacity: 0;
  }

  to {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    opacity: 1;
  }
}

@keyframes popout {
  from {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    opacity: 1;
  }

  to {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%);
    opacity: 0;
  }
}
